.main-layout {
  height: 100%;
  width: 100%;
}

.main-layout-content {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  align-items: center;
  padding: 2.5rem;
  background-color: $color-gray-background;

  @include sm {
    padding: 2.5rem 1rem;
  }
}
